::ng-deep .menu-bar {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.54);
  background: #7ab8eb !important;
  padding-left: 15px;
}

::ng-deep .menu-bar-title {
  color: white !important;
  font-weight: bold;
  text-decoration: none;
}

::ng-deep .menu-bar-item {
  color: white !important;
}